# Ignore everything
*

# Allow specific file types

# Allow specific directories to be tracked (optional, if you want to allow these)
!.gitignore
!/


Mine/
taxonomist/
tb_logs/



# Ignore specific file types
*.log
*.tmp
*.bak
*.sh
*.txt
*.ipynb
*.txt
*.ckpt
*.png
# Ignore environment files
.env

